# Loops
There are several techniques to repeatedly execute Python code. While loops are like repeated if statements; the for loop is there to iterate over all kinds of data structures. Learn all about them in this chapter.

## While
```Python
while condition:
    expression
```
- Numerically calculating model
- "repeating action until condition is metâ€
- Example
    - Error starts at 50
    - Divide error by 4 on every run
    - Continue until error no longer > 1

In [1]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/01-while_loop.mp4" type="video/mp4">
</video>

### Basic while loop
Below you can find the example from the video where the `error` variable, initially equal to `50.0`, is divided by 4 and printed out on every run:
```Python
error = 50.0
while error > 1 :
    error = error / 4
    print(error)
```    
This example will come in handy, because it's time to build a `while` loop yourself! We're going to code a while loop that implements a very basic control system for an inverted pendulum. If there's an offset from standing perfectly straight, the while loop will incrementally fix this offset.

In [2]:
# Initialize offset
offset=8

# Code the while loop
while offset != 0:
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

### Add conditionals
The `while` loop that corrects the `offset` is a good start, but what if `offset` is negative? You can try to run the following code where `offset` is initialized to `-6`:
```Python
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)
```    
but your session will be disconnected. The while loop will never stop running, because `offset` will be further decreased on every run. `offset != 0` will never become False and the while loop continues forever.

Fix things by putting an `if-else` statement inside the `while` loop.

In [3]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0:
        offset = offset - 1
    else:
        offset=offset + 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

### for loop
```Python
for var in seq :
    expression
```    

**"for each var in seq, execute expression"**

In [4]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/02-for_loop.mp4" type="video/mp4">
</video>

### Loop over a list
Have another look at the `for` loop that Filip showed in the video:

```Python
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam : 
    print(height)
```
As usual, you simply have to indent the code with 4 spaces to tell Python which code should be executed in the `for` loop.

The `areas` variable, containing the area of different rooms in your house, is already defined.

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

### Indexes and values (1)
Using a `for` loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information, so where the list element you're iterating over is located, you can use **[enumerate()][1]**.

As an example, have a look at how the `for` loop from the video was converted:
```Python
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))
```

[1]: https://docs.python.org/3/library/functions.html#enumerate

In [6]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for i,a in enumerate(areas) :
    print("room "+str(i)+": "+str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

### Loop over list of lists
Remember the `house` variable from the Intro to Python course? Have a look at its definition on the right. It's basically a list of lists, where each sublist contains the name and area of a room in your house.

It's up to you to build a `for` loop from scratch this time!

In [7]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for area in house:
    print("the "+area[0]+" is "+str(area[1])+" sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### Looping Data Structures, Part 1
- Dictionary
    - for key, val in my_dict.items() :
- Numpy array
    - for val in np.nditer(my_array) :

In [8]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/03-Looping_Data_Structures_Part_1.mp4" type="video/mp4">
</video>

### Loop over dictionary
In Python 3, you need the `items()` method to loop over a dictionary:

```Python
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))
```
Remember the `europe` dictionary that contained the names of some European countries as key and their capitals as corresponding value? Go ahead and write a `loop` to iterate over it!

In [9]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country,capital in europe.items():
    print("the capital of "+country+" is "+capital)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

### Loop over Numpy array
If you're dealing with a 1D Numpy array, looping over all elements can be as simple as:

```Python
for x in my_array :
    ...
```

If you're dealing with a 2D Numpy array, it's more complicated. A 2D array is built up of multiple 1D arrays. To explicitly iterate over all separate elements of a multi-dimensional array, you'll need this syntax:

```Python
for x in np.nditer(my_array) :
    ...
```
Two Numpy arrays that you might recognize from the intro course are available in your Python session: `np_height`, a Numpy array containing the `heights` of Major League Baseball players, and `np_baseball`, a 2D Numpy array that contains both the `heights` (first column) and `weights` (second column) of those players.

In [16]:
height_in = [74, 74, 72, 72]
weight_lb = [180, 215, 210, 210]


np_height = np.array(height_in)
#this line of code will be explained later (list comprehensions and tupples)
baseball = [[i,j] for i,j in zip(height_in, weight_lb)]
np_baseball = np.array(baseball)

In [17]:
# Import numpy as np
import numpy as np

# For loop over np_height
for i in np_height:
    print(str(i)+" inches")

# For loop over np_baseball
for i in np.nditer(np_baseball):
    print(i)

74 inches
74 inches
72 inches
72 inches
74
180
74
215
72
210
72
210

### Looping Data Structures, Part 2

In [18]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/04-Looping_Data_Structures_Part_2.mp4" type="video/mp4">
</video>

### Loop over DataFrame (1)
Iterating over a Pandas DataFrame is typically done with the **[iterrows()][1]** method. Used in a `for` loop, every observation is iterated over and on every iteration the row label and actual row contents are available:
```Python
for lab, row in brics.iterrows() :
    ...
```
In this and the following exercises you will be working on the `cars` DataFrame. It contains information on the cars per capita and whether people drive right or left for seven countries in the world.

[1]: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html

In [22]:
# Import cars data
import pandas as pd
cars = pd.read_csv('../_datasets/cars.csv', index_col = 0)

# Iterate over rows of cars
for lab,row in cars.iterrows():
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

### Loop over DataFrame (2)
The row data that's generated by `iterrows()` on every run is a Pandas Series. This format is not very convenient to print out. Luckily, you can easily select variables from the Pandas Series using square brackets:
```Python
for lab, row in brics.iterrows() :
    print(row['country'])
```

In [23]:
# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab+": "+str(row["cars_per_cap"]))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

### Add column (1)
In the video, Filip showed you how to add the length of the country names of the `brics` DataFrame in a new column:
```Python
for lab, row in brics.iterrows() :
    brics.loc[lab, "name_length"] = len(row["country"])
```
You can do similar things on the `cars` DataFrame.

In [26]:
# Import cars data
import pandas as pd
cars = pd.read_csv('../_datasets/cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab,row in cars.iterrows():
    cars.loc[lab,"COUNTRY"] = row["country"].upper()


# Print cars
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

### Add column (2)
Using `iterrows()` to iterate over every observation of a Pandas DataFrame is easy to understand, but not very efficient. On every iteration, you're creating a new Pandas Series.

If you want to add a column to a DataFrame by calling a function on another column, the `iterrows()` method in combination with a `for` loop is not the preferred way to go. Instead, you'll want to use **[apply()][1]**.

Compare the `iterrows()` version with the `apply()` version to get the same result in the `brics` DataFrame:
```Python
for lab, row in brics.iterrows() :
    brics.loc[lab, "name_length"] = len(row["country"])

brics["name_length"] = brics["country"].apply(len)
```
We can do a similar thing to call the **[upper()][2] method on every name in the `country` column. However, `upper()` is a method, so we'll need a slightly different approach:

[1]: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html
[2]: https://docs.python.org/2/library/stdtypes.html#str.upper

In [27]:
# Use .apply(str.upper)
cars["COUNTRY"] = cars["country"].apply(str.upper)

cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT