# Dictionaries & Pandas
Learn about the dictionary, an alternative to the Python list, and the Pandas DataFrame, the de facto standard to work with tabular data in Python. You will get hands-on practice with creating, manipulating and accessing the information you need from these data structures.

## List vs Dictionary

| List                                                            | Dictionary                    |
|------                                                           |------                         |
|   Select, update and remove: [ ]                                | Select, update and remove: [ ]|
|   Indexed by range of numbers                                   | Indexed by unique keys        |
|   Collection of values - order matters - select entire subsets  | Lookup table with unique keys |

In [1]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/01-Dictionaries_Part_1.mp4" type="video/mp4">
</video>

### Motivation for dictionaries
To see why dictionaries are useful, have a look at the two lists defined. `countries` contains the names of some European countries. `capitals` lists the corresponding names of their capital.

In [2]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index("germany")

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

### Create dictionary
The `countries` and `capitals` lists are again available in the script. It's your job to convert this data to a dictionary where the country names are the keys and the capitals are the corresponding values. As a refresher, here is a recipe for creating a dictionary:
```Python
my_dict = {
   "key1":"value1",
   "key2":"value2",
}
```
In this recipe, both the keys and the values are strings. This will also be the case for this exercise.

In [3]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = { 
    'spain':'madrid', 
    'france':'paris', 
    'germany':'berlin', 
    'norway':'oslo'}

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

### Access dictionary
If the keys of a dictionary are chosen wisely, accessing the values in a dictionary is easy and intuitive. For example, to get the capital for France from `europe` you can use:
```Python
europe['france']
```
Here, `'france'` is the key and `'paris'` the value is returned.

In [4]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

In [5]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/02-Dictionaries_Part_2.mp4" type="video/mp4">
</video>

### Dictionary Manipulation (1)
If you know how to access a dictionary, you can also assign a new value to it. To add a new key-value pair to `europe` you can use something like this:
```Python
europe['iceland'] = 'reykjavik'
```

In [6]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy']='rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland']='warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

### Dictionary Manipulation (2)
Somebody thought it would be funny to mess with your accurately generated dictionary. An adapted version of the `europe` dictionary is available in the script on the right.

Can you clean up? Do not do this by adapting the definition of `europe`, but by adding Python commands to the script to update and remove key:value pairs.

In [7]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany']='berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

### Dictionariception
Remember lists? They could contain anything, even other lists. Well, for dictionaries the same holds. Dictionaries can contain key:value pairs where the values are again dictionaries.

As an example, have a look at the script where another version of `europe` - the dictionary you've been working with all along - is coded. The keys are still the country names, but the values are dictionaries that contain more information than just the capital.

It's perfectly possible to chain square brackets to select elements. To fetch the population for `Spain` from `europe`, for example, you need:
```Python
europe['spain']['population']
```

In [8]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])


# Create sub-dictionary 
data = {'capital':'rome',
        'population':59.83}


# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## Pandas, Part 1

### Datasets in Python
- 2D Numpy array?
    - One data type
- Pandas!
    - High level data manipulation tool
    - Wes McKinney
    - Built on Numpy
    - DataFrame
    
![][df]

[df]: _Docs/df.png

In [9]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/03-Pandas_Part_1.mp4" type="video/mp4">
</video>

### Dictionary to DataFrame (1)
Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.

Three lists are defined in the script:

- `names`, containing the country names for which data is available.
- `dr`, a list with booleans that tells whether people drive left or right in the corresponding country.
- `cpc`, the number of motor vehicles per 1000 people in the corresponding country.

Each dictionary key is a column label and each value is a list which contains the column elements.

In [11]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names,'drives_right':dr,'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

### Dictionary to DataFrame (2)
The Python code that solves the previous exercise is included on the right. Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list `row_labels` has been created. You can use it to specify the row labels of the `cars` DataFrame. You do this by setting the `index` attribute of `cars`, that you can access as `cars.index`.

In [14]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [16]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### CSV to DataFrame (1)
Putting data in a dictionary and then building a DataFrame works, but it's not very efficient. What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".

To import CSV data into Python as a Pandas DataFrame you can use `read_csv()`.

Let's explore this function with the same cars data from the previous exercises. This time, however, the data is available in a CSV file, named `cars.csv`. It is available in your `../_datasets` directory, so the path to the file is `'../_datasets/cars.csv'`.

In [21]:
filename = '../_datasets/cars.csv'

In [22]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv(filename)

# Print out cars
cars

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

### CSV to DataFrame (2)
Your `read_csv()` call to import the CSV data didn't generate an error, but the output is not entirely what we wanted. The row labels were imported as another column without a name.

Remember `index_col`, an argument of `read_csv()`, that you can use to specify which column in the CSV file should be used as a row label? Well, that's exactly what you need here!

Python code that solves the previous exercise is already included; can you make the appropriate changes to fix the data import?

In [23]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv(filename, index_col=0)

# Print out cars
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Pandas, Part 2
### Index and Select Data
- Square brackets
- Advanced methods
    - loc
    - iloc
    
### Discussion [ ]
- Square brackets: limited functionality
- Ideally
    - 2D Numpy arrays
    - my_array[ rows , columns ]
- Pandas
    - loc (label-based)
    - iloc (integer position-based)
    
### Recap
- Square brackets
    - Column access 
        > ```Python 
        > brics[["country", "capital"]] 
        > ```
    - Row access: only through slicing
        > ```Python 
        > brics[1:4]
        > ```
- loc (label-based)
    - Row access
        > ```Python 
        > brics.loc[["RU", "IN", "CH"]]
        > ```
    - Column access
        > ```Python 
        > brics.loc[:, ["country", "capital"]]
        > ```
    - Row & Column access
        > ```Python 
        > brics.loc[["RU", "IN", "CH"], ["country", "capital"]]    
        > ```

In [24]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/04-Pandas_Part_2.mp4" type="video/mp4">
</video>

### Square Brackets (1)
In the video, you saw that you can index and select Pandas DataFrames in many different ways. The simplest, but not the most powerful way, is to use square brackets.

In the sample code on the right, the same cars data is imported from a CSV files as a Pandas DataFrame. To select only the `cars_per_cap` column from `cars`, you can use:
```Python
cars['cars_per_cap']
cars[['cars_per_cap']]
```
The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.

In [27]:
# Import cars data
import pandas as pd
cars = pd.read_csv(filename, index_col = 0)

# Print out country column as Pandas Series
cars['country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [28]:
# Print out country column as Pandas DataFrame
cars[['country']]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [30]:
# Print out DataFrame with country and drives_right columns
cars[['country','drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

### Square Brackets (2)
Square brackets can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the `cars` DataFrame:
```Python
cars[0:5]
```
The result is another DataFrame containing only the rows you specified.

Pay attention: You can only select rows using square brackets if you specify a slice, like `0:4`. Also, you're using the integer indexes of the rows here, not the row labels!

In [31]:
# Print out first 3 observations
cars[:3]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [33]:
# Print out fourth, fifth and sixth observation
cars[3:6]

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

### loc and iloc (1)
With **[loc][1]** and **[iloc][2]** you can do practically any data selection operation on DataFrames you can think of. **[loc][1]** is label-based, which means that you have to specify rows and columns based on their row and column labels. **[iloc][2]** is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with **[loc][1]** and **[iloc][2]** to select observations. Each pair of commands here gives the same result.
```Python
cars.loc['RU']
cars.iloc[4]

cars.loc[['RU']]
cars.iloc[[4]]

cars.loc[['RU', 'AUS']]
cars.iloc[[4, 1]]
```
As before, code is included that imports the cars data as a Pandas DataFrame.

[1]: http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing
[2]: http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing

In [34]:
# Print out observation for Japan
cars.loc['JAP']

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [35]:
# Print out observations for Australia and Egypt
cars.loc[['AUS','EG']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

### loc and iloc (2)
`loc` and `iloc` also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.
```Python
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]
```

In [36]:
# Print out drives_right value of Morocco
cars.loc['MOR','cars_per_cap']

70

In [38]:
# Print sub-DataFrame
cars.iloc[-3:-1,1:3]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

### loc and iloc (3)
It's also possible to select only columns with `loc` and `iloc`. In both cases, you simply put a slice going from beginning to end in front of the comma:
```Python
cars.loc[:, 'country']
cars.iloc[:, 1]

cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]
```

In [39]:
# Print out drives_right column as Series
cars.iloc[:,-1]

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [40]:
# Print out drives_right column as Series
cars.loc[:,'drives_right']

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [41]:
# Print out drives_right column as DataFrame
cars.iloc[:,[-1]]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [42]:
# Print out drives_right column as DataFrame
cars.loc[:,['drives_right']]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [43]:
# Print out cars_per_cap and drives_right as DataFrame
cars.iloc[:,[0,-1]]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [44]:
# Print out cars_per_cap and drives_right as DataFrame
cars.loc[:,['cars_per_cap','drives_right']]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True