# Preparing data
In this chapter, you'll learn about different techniques you can use to import multiple files into DataFrames. Having imported your data into individual DataFrames, you'll then learn how to share information between DataFrames using their Indexes. Understanding how Indexes work is essential information that you'll need for merging DataFrames later in the course.

In [11]:
from IPython.display import HTML
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading multiple data files
## Tools for pandas data import
- pd.read_csv() for CSV files
    - dataframe = pd.read_csv(filepath)
    - dozens of optional input parameters
- Other data import tools:
    - pd.read_excel()
    - pd.read_html()
    - pd.read_json()

In [9]:
%%HTML
<video style="display:block; margin: 0 auto;" controls>
      <source src="_Docs/01-Reading_multiple_data_files.mp4" type="video/mp4">
</video>

### Reading DataFrames from multiple files
When data is spread among several files, you usually invoke pandas' `read_csv()` (or a similar data import function) multiple times to load the data into several DataFrames.

The data files for this example have been derived from a [list of Olympic medals awarded between 1896 & 2008][1] compiled by the Guardian.

The column labels of each DataFrame are `NOC`, `Country`, & `Total` where `NOC` is a three-letter code for the name of the country and Total is the number of medals of that type won (`bronze`, `silver`, or `gold`).

[1]: https://www.theguardian.com/sport/datablog/2012/jun/25/olympic-medal-winner-list-data

In [12]:
medals_filepath = '../_datasets/Summer_Olympic_medals/'

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv(medals_filepath+'Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv(medals_filepath+'Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv(medals_filepath+'Gold.csv')

# Print the first five rows of gold
gold.head()

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

###